# Creating samples of the dataset
- We will create 6 samples
- Each sample will have all 66,646 features
- Each sample consists of equal number of datapoints belonging to each class.
- Every sample consists of 180 datapoints, with 20 datapoints for each class.
- Saved as pickle file.

In [1]:
import os
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from tqdm import tqdm
import numpy as np

Loading the dataset

In [2]:
filename=open("cleaneddataset.pkl",'rb')
dataset=pickle.load(filename)
filename.close()

In [3]:
dataset.head()

,0,Class,1,2,3,4,5,6,7,8,...,66635,66636,66637,66638,66639,66640,66641,66642,66643,66644
0,0.092219,9,0.001738,0.000874,0.000483,0.000072,0.005510,0.163934,0.044444,0.006775,...,0.032784,0.015418,0.025875,0.025744,0.004910,0.008930,0.0,0.027174,0.000428,0.049896
1,0.121236,2,0.000000,0.000175,0.000097,0.000252,0.000000,0.000000,0.000000,0.001355,...,0.010846,0.004961,0.012316,0.007858,0.007570,0.005350,0.0,0.043478,0.000673,0.024839
2,0.084499,9,0.001242,0.000874,0.000483,0.000090,0.005510,0.163934,0.038889,0.006775,...,0.006773,0.000095,0.006181,0.000100,0.003773,0.000713,0.0,0.048913,0.000000,0.012802
3,0.010759,1,0.000248,0.000524,0.000193,0.000000,0.002755,0.032787,0.000000,0.001355,...,0.001028,0.000343,0.000746,0.000301,0.000360,0.001057,0.0,0.030797,0.001468,0.003173
4,0.006233,8,0.000000,0.000000,0.000000,0.000054,0.002755,0.016393,0.005556,0.006775,...,0.009150,0.000343,0.013875,0.000482,0.012932,0.001363,0.0,0.027174,0.000000,0.008316

Creating Samples

In [4]:
for i in tqdm(range(0,6)):
    # where key is the class name and value is the count of that class in our sample
    countdict={}
    # initialize it with every value being one
    for j in range(1,10):
        countdict[j]=0
    #list in which we will store 
    listofindexes=[]
    while True:
        randint=np.random.randint(0,10868)
        if countdict[dataset['Class'][randint]]==20:
            continue
        else:
            countdict[dataset['Class'][randint]]+=1
            listofindexes.append(randint)
        if len(listofindexes)==180:
            break
    
    pickle.dump(dataset.iloc[listofindexes],open("SampleNo."+str(i),'wb'))

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [03:16<00:00, 32.71s/it]